@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom reusable styles */
.input {
  @apply w-full p-2 mb-3 border rounded-lg
         dark:bg-slate-800 dark:text-white;
}

.btn-green {
  @apply bg-green-600 hover:bg-green-700
         text-white py-2 rounded-lg;
}
@keyframes ping-slow {
  0%, 100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.5);
    opacity: 0.4;
  }
}

.animate-ping-slow {
  animation: ping-slow 4s cubic-bezier(0, 0, 0.2, 1) infinite;
}
