@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom reusable styles */
.input {
  @apply w-full p-2 mb-3 border rounded-lg
         dark:bg-slate-800 dark:text-white;
}

.btn-green {
  @apply bg-green-600 hover:bg-green-700
         text-white py-2 rounded-lg;
}
